<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur7e">
  <xacro:arg name="name" default="ur7e" />

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro" />
  <xacro:include filename="$(find ur_description)/urdf/ur_end_effector_sensor.xacro" />

  <xacro:arg name="ur_type" default="ur7e" />

  <xacro:arg name="tf_prefix" default="" />
  <xacro:arg name="transmission_hw_interface" default="" />
  <xacro:arg name="safety_limits" default="false" />
  <xacro:arg name="safety_pos_margin" default="0.15" />
  <xacro:arg name="safety_k_position" default="20" />

  <xacro:arg name="force_abs_paths" default="false" />

  <link name="arm_mount" />

  <xacro:ur_robot
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    parent="arm_mount"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"
    force_abs_paths="$(arg force_abs_paths)"
  >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:ur_robot>

  <xacro:ur_end_effector_sensor tf_prefix="$(arg tf_prefix)"
    force_abs_paths="$(arg force_abs_paths)" />
</robot>